<!-- <p>form works!</p> -->
<mat-drawer-container class="Form">
  <mat-drawer #sidenav mode="side" opened disableClose="">
    <mat-list>
      <mat-list-item><button mat-button type="button" (click)="toShow='Propulsion'">Propulsion</button></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><button mat-button type="button" (click)="toShow='Route'">Route</button></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><button mat-button type="button" (click)="toShow=toShow">Next ship component</button></mat-list-item>
      <!-- Il faut rajouter les comportements onclick -->
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <p *ngIf="toShow === 'Propulsion'"> <app-propulsion-form></app-propulsion-form></p>
    <!-- On va pouvoir remplacer Propulsion par Ship, avec des sous-catégories comme type, propulsion, charge... et pour chacune mettre une toolbar avec les différentes options (genre engine, fuelcell) -->
    <p *ngIf="toShow === 'Route'"> <app-route-form></app-route-form></p>
    <!-- <p>Un très gros truc qui pourra bouger selon l'option sélectionnée dans le mat-drawer</p>
    <p>Un très gros truc qui pourra bouger selon l'option sélectionnée dans le mat-drawer</p>
    <p>Un très gros truc qui pourra bouger selon l'option sélectionnée dans le mat-drawer</p>
    <p>Un très gros truc qui pourra bouger selon l'option sélectionnée dans le mat-drawer</p> -->
    <!-- ici on va sans doute jouer avec les directives (genre *ngIf clicked pour chaque composant) -->
  </mat-drawer-content>
</mat-drawer-container>
